.table-container {
  width: 100%;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
thead > tr {
  font-size: 20px;
}
.student-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
tbody > tr {
  /* border-bottom: 1px solid black; */
  border: 1px solid blue;
  border-collapse: collapse;
}
.student {
  padding: 30px;
}

.student-head > button {
  font-size: 16px;
  min-width: 130px;
  height: 50px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #526d82;
  color: #526d82;
}
.student-head > button:hover {
  color: #fff;
}
.student-head > button:hover:after {
  height: 100%;
}
.student-head > button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #526d82;
}

.css-button-arrow--black {
  min-width: 130px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #526d82;
}
.css-button-arrow--black:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.css-button-arrow--black:hover:after {
  opacity: 1;
  right: 10px;
}
.css-button-arrow--black:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
